# MailZeet API Key
VITE_MAILZEET_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Default form values
VITE_DEFAULT_TO=user@gmail.com
VITE_DEFAULT_CC=cc@example.com
VITE_DEFAULT_BCC=bcc@example.com
VITE_DEFAULT_REPLYTO=replyto@example.com
VITE_DEFAULT_SUBJECT=Welcome to MailZeet
VITE_DEFAULT_TEMPLATE_ID=TEMPLATE123
VITE_DEFAULT_TEXT=Hello, this is a test email.
VITE_DEFAULT_HTML=<h1>Hello from MailZeet</h1>
